:root {
    --footerColor: #999;
}

a {
    text-decoration: none;
}

footer {
    border-top: solid 1px darkgrey;
    margin: 30px auto 5px;
    text-align: center;
    max-width: 800px;
    color: var(--footerColor);
}

footer a:visited, footer a:link, footer a:active {
    color: var(--footerColor);
}

/*no effect if placed before the last element, override by who?*/
footer a:hover {
    color: #666;
}

body {
    margin: 0;
}

div#filterbar {
    height: 40px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
}

div#items {
    font-family: Monaco, Menlo, Monospace;
    align-self: center;
    margin: 20px auto;
    /*min-height: 500px;*/
    max-width: 800px;
    padding: 20px;
    min-height: 70%;
    min-height: -webkit-calc(100% - 114px);
    min-height: -moz-calc(100% - 114px);
    min-height: calc(100% - 114);
}

div.item {
    overflow: auto;
    border-bottom: thin solid grey;
    padding: 8px 5px 1px;
    height: 25px;
}

div.item:hover {
    background-color: #999;
}

div.tags {
    font-size: 13px;
    float: left;
    /*!important;*/
}

div.tags span {
    color: white;
    background-color: #333;
    padding: 1px 4px;
    margin-top: 6px;
    border-radius: 3px;
}

div.articleTitle {
    float: right;
    text-align: right;
}

div.articleTitle a:link, div.articleTitle a:visited, div.articleTitle a:active {
    color: #333;
}

div.articleTitle a:hover {
    color: white;
}
