:root {
    --footerColor: #999;
}

#title {
    /*width:100%;*/
    /*background-color: aliceblue;*/
    text-align: right;
    margin: 0;
    padding: 0;
    border-bottom: solid medium darkgrey;
    color: var(--footerColor);
    /*text-transform: lowercase;*/
    text-transform: capitalize;
    font-variant: small-caps;
}

footer {
    border-top: solid 1px darkgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: inherit;
    color: var(--footerColor);
    /*position: absolute;*/
    /*bottom: 0;*/
}

footer a {
    text-decoration: none;
}

footer a:visited, footer a:link, footer a:active {
    color: var(--footerColor);
}

/*no effect if placed before the last element, override by who?*/
footer a:hover {
    color: #666;
}

hr {
    margin: 2px;
}

h1, h2 {
    color: cornflowerblue;
    font-size: larger;
}

blockquote {
    /*font-style: italic;*/
    color: #888;
}

body {
    align-self: center;
    margin: 20px auto;
    min-height: 500px;
    max-width: 800px;
    padding: 20px;
}


table, th, td {
    /*width:100%;*/
    border: 1px solid #999;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    width: 100px;
    color: #555;
}

th {
    background-color: aliceblue;
}

p {
    margin: 7px 0;
}

pre {
    background-color: aliceblue;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
}

pre, code, kbd {
    -moz-tab-size: 4;
    /*-o-tab-size: 4;*/
    tab-size: 4;
}

div.item {
    overflow: auto;
    border-bottom: thin solid grey;
    padding: 5px;
}

div.tags {
    float: left;
    /*!important;*/
}

div.articleTitle {
    float: right;
    text-align: right;
}

