<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
    <pre>
       _             _            _           
   _  /\ \         / /\       _  /\ \         
  /\_\\ \ \       / /  \     /\_\\ \ \        
 / / / \ \ \     / / /\ \   / / / \ \ \       
/ / /   \ \ \   / / /\ \ \ / / /   \ \ \      
\ \ \____\ \ \ /_/ /  \ \ \\ \ \____\ \ \     
 \ \________\ \\ \ \   \ \ \\ \________\ \    
  \/________/\ \\ \ \   \ \ \\/________/\ \   
            \ \ \\ \ \___\ \ \         \ \ \  
             \ \_\\ \/____\ \ \         \ \_\ 
              \/_/ \_________\/          \/_/ 
                                              
    </pre>
</body>
</html>
