<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="../../css/my.css"/>
</head>
<body>
<h1 id="title">where there is a will there is a way</h1>
<h2>中华标题党</h2>
<h3>中华标题党</h3>
<h4>中华标题党</h4>
<h5>中华标题党</h5>
<h6>中华标题党</h6>
<code class="codeblock">
	<servlet>
		<servlet-name>taotao-sso</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/taotao-sso-servlet.xml</param-value>
		</init-param>
		<!-- positive integer indicating the order,otherwise no value or non-positive -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</code>
<footer>
	<a href="/home.html">[home]</a> powered by <a href="https://github.com/whitemuu/jblog" target="_blank">jblog</a>
</footer>
</body>
</html>
